<header class="jumbotron jumbotron-fluid" style="background-color: #3e8fbd; color: white;">
    <div class="container text-center">
        <h1>Dashboard</h1>
        <p>What would you like to do today?</p>
        <p>
            <a class="btn btn-success btn-lg" href="/polls/new">New Poll</a>
            <a class="btn btn-primary btn-lg" href="/polls">My Polls</a>
        </p>
    </div>
</header>