<% include partials/header %>
<% include partials/dashboard %>

<h1 class="text-center">New Poll</h1>
<div class="container text-center" style="width: 30%; margin: 30px auto;">
    <form action="/polls" method="post">
        <div class="form-group">
            <label for="name">Name your poll</label>
            <br>
            <input type="text" class="form-control" name="name" placeholder="What is your favorite brand?" required>
        </div>
        <div class="form-group" id="options">
            <label for="options">Options</label>
            <br>
            <input type="text" class="form-control" name="options" placeholder="Coke" required>
            <input type="text" class="form-control" name="options" placeholder="Pepsi" required>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-lg btn-default" id="moreOptions">More Options</button>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-lg btn-success btn-block" value="Submit">
        </div>
    </form>
</div>

<script>
    document.getElementById("moreOptions").addEventListener("click", function(event){
        event.preventDefault();
        var newInput = document.createElement("input");
        var options = document.getElementById("options")
        newInput.classList.add("form-control");
        newInput.name = "options";
        newInput.placeholder = "New Option";
        options.appendChild(newInput);
        options.lastChild.focus();
    });
</script>

<% include partials/footer %>