<% include partials/header %>

        <header class="jumbotron jumbotron-fluid" style="background-color: #3e8fbd; color: white;">
            <div class="container">
                <h1>Welcome to The Voting App!</h1>
                <p>View recent polls from users just like you</p>
                <p>
                    <a class="btn btn-success btn-lg" href="/polls/new">Create a Poll</a>
                </p>
            </div>
        </header>
        
        <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Our Most Recent Polls!</h3>
            </div>
        </div>
    </div>

<% include partials/footer %>