<% include partials/header %>
<% include partials/dashboard %>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>Our Most Recent Polls!</h3>
        </div>
    </div>
</div>

<div class="row text-center" style="display: flex; flex-wrap: wrap;">
    <% polls.forEach(function(poll){ %>
        <div class="col-md-3 col-sm-6">
            <h1><a href="/polls/<%= poll['_id'] %>"><%= poll['name'] %></a></h1>
            <ul style="list-style: none; padding: 0;">
                <% poll['options'].forEach(function(option){ %>
                    <li><%= option['name'] %></li>
                <% }) %>
            </ul>
        </div>
    <% }); %>
</div>

<% include partials/footer %>